@inherits ProductBase
@using BlazorInputFile

@page "/products"

<h1>Products</h1>

<p>List of reviewed products</p>

<button class="btn btn-primary add-button" @onclick="ShowAddModal">Add Product</button>

@if (HasError)
{
    <div class="alert alert-danger error-message" role="alert">
        @ErrorMessage
    </div>    
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Company</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Products)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.CompanyName</td>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => GetProduct(product.Id)" ><span class="oi oi-brush" aria-hidden="true"></span></button>
                                <button class="btn btn-danger" @onclick="() => GetDeleteInformation(product.Id, product.Name)"><span class="oi oi-delete" aria-hidden="true"></span></button>
                                <a class="btn btn-warning" href="products/@product.Id/reviews"><span class="oi oi-chat" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>

@if (DisplayModal)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="HideModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (HasModalError)
                    {
                        <div class="alert alert-danger error-message" role="alert">
                            @ModalErrorMessage
                        </div>
                    }
                    <EditForm Model="@ProductModel" OnValidSubmit="SaveChanges">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                        <div class="form-group">
                            <label for="company">Company</label>
                            <InputSelect @bind-Value="ProductModel.CompanyIdValue" class="custom-select" id="company">
                                @if (!ModifyModal)
                                {
                                    <option value="0" selected>Select a Company</option>
                                }
                                else
                                {
                                    <option value="0">Select a Company</option>
                                }
                                
                                @foreach (var company in Companies)
                                {
                                    <option value="@company.Id">@company.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" @bind="ProductModel.Name"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" @bind="ProductModel.Description" row="4"></textarea>
                        </div>
                        <div class="form-group">
                            <InputFile OnChange="HandleSelectedFile"></InputFile>
                        </div>
                             
                        <input type="submit" class="btn btn-primary" value="Save"/>
                        <input type="button" class="btn" value="Cancel" @onclick="HideModal"/>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>    
}

@if (DeleteModal)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="HideDeleteModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (HasModalError)
                    {
                        <div class="alert alert-danger error-message" role="alert">
                            @ModalErrorMessage
                        </div>
                    }
                    
                    <p>Are you sure to delete Company: @DeleteView.Name with Id: @DeleteView.Id</p>
                    
                    <input type="submit" class="btn btn-danger" value="Delete" @onclick="DeleteProduct"/>
                    <input type="button" class="btn" value="Cancel" @onclick="HideDeleteModal"/>
                    
                </div>
            </div>
        </div>
    </div>
}
