@page "/products/{Id:long}/reviews"
@inherits ReviewBase

<h1>Product Reviews</h1>

<a href="/products">Return to Products</a>

<div class="card card-parent">
    <div class="card-header">
        @ProductModel.CompanyName
    </div>
    <div class="card-body">
        <h5 class="card-title">@ProductModel.Name</h5>
        <p class="card-text">@ProductModel.Description</p>
    </div>
</div>

<h3>Reviews</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            
            <!-- Flexbox container for aligning the toasts -->
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
                
            @foreach (var review in Reviews)
            {
                <!-- Then put toasts within -->
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="..." class="rounded mr-2" alt="...">
                        <strong class="mr-auto">Bootstrap</strong>
                        <small>@review.ReviewDate.ToShortDateString()</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        @review.Content
                    </div>
                </div>
            }
            
            </div>
        </div>
    </div>
</div>
