@page "/products/{Id:long}/reviews"
@inherits ReviewBase

<h1>Product Reviews</h1>

<div class="card card-parent">
    <div class="card-header">
        <strong>@ProductModel.CompanyName</strong>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="text-center">
                      <img src="..." class="rounded" alt="...">
                    </div>                    
                </div>
                <div class="col-8">
                    <h5 class="card-title">@ProductModel.Name</h5>
                    <p class="card-text">@ProductModel.Description</p>
                </div>
                <div class="col-2">
                    <ul class="list-group">
                        @foreach (var acceptance in ProductAcceptanceModel)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @acceptance.Sentiment
                                <span class="badge badge-primary badge-pill">@acceptance.Count</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Reviews</h3>

<button class="btn btn-primary add-button" @onclick="ShowAddModal">Add Reviews</button>

@if (HasError)
{
    <div class="alert alert-danger error-message" role="alert">
        @ErrorMessage
    </div>    
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            
            @foreach (var review in Reviews)
            {
                <div class="card card-review">
                    <div class="card-header">
                        <strong>@review.Title</strong>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-11">
                                    <small>
                                        <p class="card-text">@review.Content</p>
                                    </small>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-danger" @onclick="() => DeleteReview(review.Id)">Delete</button>            
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                            <small>Language: @review.Language - Sentiment: @review.Sentiment - Created: @review.ReviewDate</small>
                        </p>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>

@if (DisplayModal)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="HideModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (HasModalError)
                    {
                        <div class="alert alert-danger error-message" role="alert">
                            @ModalErrorMessage
                        </div>
                    }
                    <EditForm Model="@ReviewModel" OnValidSubmit="SaveChanges">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Review Title" @bind="ReviewModel.Title"/>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control" id="content" @bind="ReviewModel.Content" row="4"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                        <input type="button" class="btn" value="Cancel" @onclick="HideModal"/>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>    
}
